---
import Layout from "../layouts/Layout.astro";
import HeaderTextBig from "../components/HeaderTextBig.astro";
const headerArticle = {
  h2: "Tytu artykułu umieszczony jest tutaj",
  h3: "Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio.",
};
const articleList = [
  {
    img: "/assets/images/article_1.png",
    autor: "Lorem ipsum",
    title: "Tytuł posta",
    short:
      "Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
    link: "/artykul",
  },
  {
    img: "/assets/images/article_1.png",
    autor: "Lorem ipsum",
    title: "Tytuł posta",
    short:
      "Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
    link: "/artykul",
  },
  {
    img: "/assets/images/article_1.png",
    autor: "Lorem ipsum",
    title: "Tytuł posta",
    short:
      "Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
    link: "/artykul",
  },
  {
    img: "/assets/images/article_1.png",
    autor: "Lorem ipsum",
    title: "Tytuł posta",
    short:
      "Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
    link: "/artykul",
  },
  {
    img: "/assets/images/article_1.png",
    autor: "Lorem ipsum",
    title: "Tytuł posta",
    short:
      "Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
    link: "/artykul",
  },
  {
    img: "/assets/images/article_1.png",
    autor: "Lorem ipsum",
    title: "Tytuł posta",
    short:
      "Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
    link: "/artykul",
  },
];
---

<Layout title="Artykuł" isHome={false}>
    <section class="pt-20 lg:pt-36 pb-12 lg:pb-36">
        <div class="container wrapper max-w-[855px] mx-auto">
          <HeaderTextBig
            h2={headerArticle.h2}
            h3={headerArticle.h3}
            textColor="text-black"
          />
        </div>
      </section>
      <section class="relative pb-40">
        <div class="relative inset-0 bg_product_gradient_1">
          <img
            src="/assets/images/product_bg.png"
            class="object-cover w-full h-full"
          />
        </div>
        <div class="container wrapper  py-20">
          <div class="max-w-[987px] mx-auto">
          <div class="article-content text-grey">
            <h3 class="text-black mb-8">Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</h3>
            <p class="big mb-20">Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
            <p class="regular">Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.</p>
            <p class="regular indent-16"> Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo.</p>
            <img src="/assets/images/article-inside.png"/>
            <p class="regular">Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.</p>
            <p class="regular indent-16"> Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo.</p>
           <div class=" grid md:grid-cols-2 gap-8 py-12 items-center">
            <cite>Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.</cite>
            <p class="regular">Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia</p>
          </div>
          </div>
        </div>
        </div>
     
      </section>
      <section class="pb-32">
        <div class="container wrapper">
          <div class="flex items-center mb-12">
          <h3>Przeczytaj także</h3>
          <div class="swiper-articles-nav ml-auto">
            <button class="swiper-articles-prev mr-8"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.6" clip-path="url(#clip0_166_10996)">
              <path d="M1.03824 16L30.9902 16" stroke="#232222" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.9902 1.3335L1.46623 14.9988C1.32436 15.124 1.21073 15.2778 1.1329 15.4502C1.05507 15.6227 1.01482 15.8097 1.01482 15.9988C1.01482 16.188 1.05507 16.375 1.1329 16.5474C1.21073 16.7198 1.32436 16.8737 1.46623 16.9988L16.9902 30.6668" stroke="#232222" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_166_10996">
              <rect width="32" height="32" fill="white" transform="translate(32) rotate(90)"/>
              </clipPath>
              </defs>
              </svg>
              </button>
              <button class="swiper-articles-next"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.6" clip-path="url(#clip0_166_10993)">
                <path d="M30.9618 16L1.00977 16" stroke="#232222" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0098 30.6665L30.5338 17.0012C30.6756 16.876 30.7893 16.7222 30.8671 16.5498C30.9449 16.3773 30.9852 16.1903 30.9852 16.0012C30.9852 15.812 30.9449 15.625 30.8671 15.4526C30.7893 15.2802 30.6756 15.1263 30.5338 15.0012L15.0098 1.33317" stroke="#232222" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_166_10993">
                <rect width="32" height="32" fill="white" transform="translate(0 32) rotate(-90)"/>
                </clipPath>
                </defs>
                </svg>
                </button>
          </div>
          </div>

          <div class="swiper swiper_articles">
            <div class="swiper-wrapper">
              {
                articleList.map((article) => {
                  return (
                    <div class="swiper-slide">
                    <article>
                      <img src={article.img} class="rounded-2xl mb-6" />
                      <div>
                        <p class="text-gre mb-6">{article.autor}</p>
                        <h3 class="text-black mb-4">{article.title}</h3>
                        <p class="big text-grey mb-4">{article.short}</p>
                        <a class="link button" href={article.link}>
                          Więcej
                        </a>
                      </div>
                    </article>
                  </div>
                  );
                })
              }
            </div>
          </div>
        </div>
      </section>
</Layout>
<script is:inline src="/assets/js/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />
<script is:inline src="/assets/js/main.js"></script>