---
const {h2, h3, h3_2,  p, textColor, button, link} = Astro.props
---

<div class="">
    <div class="text-center max-w-[910px] mx-auto "> 
    <h2 class="mb-8">{h2}</h2>
        <p class=`${textColor ? textColor : 'text-grey'} lg:h3 ${button && 'mb-10'}`>{h3}</p>
        {h3_2 && <p class="lg:h3">{h3_2}</p>}
        {button && <a href={link} class="btn primary dot mx-auto">{button}</a>}
        
    </div>
</div>