---
const menu = [
  {
    link: "/o-nas",
    name: "O nas",
  },
  {
    link: "/produkty",
    name: "Produkty",
    submenu: [
      {
        name: "Nazwa kategorii",
        link: "/",
        subcategory: [
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
        ],
      },
      {
        name: "Nazwa kategorii",
        link: "/",
        subcategory: [
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
        ],
      },
      {
        name: "Nazwa kategorii",
        link: "/",
        subcategory: [
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
        ],
      },
      {
        name: "Nazwa kategorii",
        link: "/",
        subcategory: [
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
          { name: "Nazwa produktu", link: "/produkt" },
        ],
      },
    ],
  },
  { link: "/aktualnosci", name: "Aktualności" },
  { link: "/kariera", name: "Kariera" },
  { link: "/kontakt", name: "Kontakt" },
];
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const { isHome } = Astro.props;

import Logo from "../components/Logo.astro";
---

<header
  class=`fixed top-0 left-0 right-0 header  z-50 transition duration-200 ease-out ${isHome ? 'is-home':''}`
>
  <div class="container wrapper py-2 px-4 md:px-8 md:py-0">
    <div class="flex items-center justify-between">
      <Logo />
      <nav class="main-nav main-menu">
        <button id="close-menu" class="absolute top-4 right-4 md:hidden"
          ><svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.3333 26.6667L26.6666 13.3333"
              stroke="#696464"
              stroke-width="1.66667"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M26.6666 26.6667L13.3333 13.3333"
              stroke="#696464"
              stroke-width="1.66667"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </button>
        <ul
          class=`flex flex-col md:flex-row md:gap-4 lg:gap-[46px] px-12 md:px-0 items-center ${isHome ? 'md:text-white':''}`
        >
          {
            menu.map((item) => {
              if (item.submenu) {
                return (
                  <li class="group relative submenu-link md:py-4 w-full md:w-auto flex items-center">
                    <a
                      href={item.link}
                      class="regular py-2 md:py-0 link cursor-pointer flex gap-3 items-center"
                    >
                      <span>{item.name}</span>
                    </a>
                    <button class="md:hidden ml-auto submenu-open">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g opacity="0.6" clip-path="url(#clip0_157_7136)">
                          <path
                            d="M30.9613 16L1.00928 16"
                            stroke="#232222"
                            stroke-width="1.66667"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.0093 30.6667L30.5333 17.0013C30.6752 16.8762 30.7888 16.7223 30.8666 16.5499C30.9444 16.3775 30.9847 16.1905 30.9847 16.0013C30.9847 15.8122 30.9444 15.6252 30.8666 15.4528C30.7888 15.2803 30.6752 15.1265 30.5333 15.0013L15.0093 1.33334"
                            stroke="#232222"
                            stroke-width="1.66667"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </g>
                      </svg>
                    </button>
                    <div class="bg-blue_opacity md:bg-white text-grey md:border-t md:border-grey/40 submenu-container shadow-xl ">
                      <div class="container md:px-4 ">
                        <div class="ml-auto md:flex  justify-end gap-8">
                          <button class="close-submenu absolute top-4 right-4 bg-blue_opacity md:hidden">
                            <svg
                              width="24"
                              height="24"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <g opacity="0.6" clip-path="url(#clip0_157_7138)">
                                <path
                                  d="M1.03872 16L30.9907 16"
                                  stroke="#232222"
                                  stroke-width="1.66667"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                                <path
                                  d="M16.9907 1.33334L1.46672 14.9987C1.32485 15.1238 1.21122 15.2777 1.13339 15.4501C1.05556 15.6225 1.01531 15.8095 1.01531 15.9987C1.01531 16.1878 1.05556 16.3748 1.13339 16.5473C1.21122 16.7197 1.32485 16.8735 1.46672 16.9987L16.9907 30.6667"
                                  stroke="#232222"
                                  stroke-width="1.66667"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_157_7138">
                                  <rect
                                    width="32"
                                    height="32"
                                    fill="white"
                                    transform="translate(32) rotate(90)"
                                  />
                                </clipPath>
                              </defs>
                            </svg>
                          </button>
                          <ul class=" w-full block md:flex  md:gap-6 h-screen md:h-auto overflow-auto pt-10 pb-20 px-8">
                            {item.submenu.map((submenu) => {
                              return (
                                <li class="w-full px-7 md:border-r border-disabled last:border-none pb-4 mb-8 md:mb-0">
                                  <a
                                    href={submenu.link}
                                    class="flex items-center max-w-max mb-4 md:mb-8 link hover:text-blue_active"
                                  >
                                    <p>{submenu.name}</p>
                                  </a>
                                  {submenu.subcategory && (
                                    <ul class="grid gap-2">
                                      {submenu.subcategory.map((item) => {
                                        return (
                                          <li>
                                            <a
                                              href={item.link}
                                              class="flex justify-between items-center py-2 md:py-0 md:hover:text-blue_active"
                                            >
                                              <p class="small">{item.name} </p>
                                              <svg
                                                width="10"
                                                height="11"
                                                viewBox="0 0 10 11"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                              >
                                                <g clip-path="url(#clip0_269_7108)">
                                                  <path
                                                    d="M9.67641 5.5L0.316406 5.5"
                                                    stroke="currentColor"
                                                    stroke-width="1.66667"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                  />
                                                  <path
                                                    d="M4.69141 10.084L9.54266 5.81357C9.58699 5.77447 9.6225 5.72638 9.64682 5.6725C9.67115 5.61862 9.68372 5.56018 9.68372 5.50107C9.68372 5.44195 9.67115 5.38351 9.64682 5.32963C9.6225 5.27576 9.58699 5.22767 9.54266 5.18857L4.69141 0.917317"
                                                    stroke="currentColor"
                                                    stroke-width="1.66667"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                  />
                                                </g>
                                              </svg>
                                            </a>
                                          </li>
                                        );
                                      })}
                                    </ul>
                                  )}
                                </li>
                              );
                            })}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                );
              } else {
                return (
                  <li class="relative z-20  md:py-4 w-full md:w-auto">
                    <a
                      href={item.link}
                      class={` regular py-2 md:py-0 block ${
                        currentPath === item.link.slice(1) ? "current" : ""
                      } ${item.name === "Kontakt" ? "btn small primary  mx-auto md:ml-0 mt-8 md:mt-0" : "text-left link"}`}
                    >
                      {item.name}
                    </a>
                  </li>
                );
              }
            })
          }
        </ul>
      </nav>
      <button id="open-menu" class="md:hidden h-12 w-14 -mr-4">
        <svg
          class="w-full h-full"
          viewBox="-2.4 -2.4 28.80 28.80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#232222"
          stroke-width="0.72"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke="#CCCCCC"
            stroke-width="0.096"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M5 8H13.75M5 12H19M10.25 16L19 16"
              stroke="#232222"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g></svg
        >
      </button>
    </div>
  </div>
</header>
